<div class="row w-100 h-100">
    <!-- left side -->
    <div class="col-md-9 bg-danger">
        <!-- row cards -->
        <div class="row">
            <div class="d-flex justify-content-around align-items-center gap-2">
                <div class="card">
                    <div class="d-flex gap-1">
                        <h3>71,028</h3>
                        <h6>EGP</h6>
                    </div>
                    <h5>Total Value</h5>
                    <h5 class="main-color">> 2 %</h5>
                </div>
                <div class="card">
                    <div class="d-flex gap-1">
                        <h3>71,028</h3>
                        <h6>EGP</h6>
                    </div>
                    <h5>Total Value</h5>
                    <h5 class="main-color">> 2 %</h5>
                </div>
                <div class="card">
                    <div class="d-flex gap-1">
                        <h3>71,028</h3>
                        <h6>EGP</h6>
                    </div>
                    <h5>Total Value</h5>
                    <h5 class="main-color">> 2 %</h5>
                </div>
                <div class="card">
                    <div class="d-flex gap-1">
                        <h3>71,028</h3>
                        <h6>EGP</h6>
                    </div>
                    <h5>Total Value</h5>
                    <h5 class="main-color">> 2 %</h5>
                </div>
            </div>
        </div>
        <!-- row tabs -->
        <div class="row">
            <div class="d-flex justify-content-end align-items-center">
                <div>Graph</div>
                <div>List</div>
            </div>
        </div>
        <!-- row graph or list -->
        <div class="row">
            
        </div>
    </div>

    <!-- right side -->
    <div class="col-md-3 bg-success">
        <div class="row">
            <div class="d-flex flex-column justify-content-between align-items-center">
                <h5>Hourly Sales</h5>
                <img src="" alt="">
            </div>
            <div class="d-flex flex-column justify-content-between align-items-center">
                <h5>Sales By Station</h5>
                <div>
                    station Name 92.314 m<sup>3</sup>
                </div>
                <div>
                    station Name 92.314 m<sup>3</sup>
                </div>
                <div>
                    station Name 92.314 m<sup>3</sup>
                </div>
                <div>
                    station Name 92.314 m<sup>3</sup>
                </div>
            </div>
        </div>
    </div>
</div>